.nav {
    background-color: grey;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1;
  }
  
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  
  .main {
    margin-top: 30px; 
  }
.logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
      }

    .artwork {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
.artimages {
    position: relative;
    padding-right: 200px;
    padding-bottom: 200px;
}
.stotlecover {
    position: absolute;
    top: 105px;
    left: 120px;

}
 .userexperience   {
position: absolute;

 }
footer {background-color: grey;}

.about
 {background-color: rgb(253, 253, 253);
margin-top: 125px; 
}